h1 {
  a {
    font-family: "UnifrakturMaguntia", serif;
    font-size:4rem;
    font-weight:100 !important;
    color:$primary-color;    
  }
}

.Heading {
  display: block;
}

.Heading-subtitle {
  font-family: "UnifrakturMaguntia", serif;
  color:black;
  font-weight:100;
}
.page {
  padding-left:75px;
}