@use "variables" as *;

$font-title: 'Saira', sans-serif;
$font-text: 'Chivo', sans-serif;

$spacing: 50px;
$radius: 4px;

$date: 120px;
$dotborder: 4px;
$dot: 11px;
$line: 4px;

$background: #fff;

$color-primary: #004ffc;
$color-light: white;

$color-dim: #6c6d6d;

// $color-year: black;

#timeline-content {
  margin-top: $spacing;
  text-align: center;
}

/* Timeline */

.timeline {
  border-left: $line solid $color-timeline;
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
  // background: fade-out($color-light, 0.97);
  // color: fade-out(white, 0.2);
  // font-family: $base-font-family;
  // margin: $spacing auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 0.75em;
  padding: 5px $spacing 10px $spacing;
  list-style: none;
  color:black;
  text-align: left;
  margin-left:75px;
  // font-weight: 100;
  // max-width: 30%;

  h1 {
    font-family: $base-font-family;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
  }

  h2,
  h3 {
    font-family: $base-font-family;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
  }

  .event {
    border-bottom: 1px dashed fade-out($color-light, 0.9);
    // padding-bottom: 15px;
    margin-bottom: 10px;
    position: relative;

    .item-content {
      position:relative;
      top:-27px;
    }

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    span.year {
      position:sticky;
      top:7px;
      margin-left:-130px;

      color: $color-year;
      content: attr(data-date);
      text-align: right;
      font-weight: 100;
      font-size: 1.2em;
      min-width: $date;
      font-family: $base-font-family;

    }
    &:before,
    &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    // &:before {
    //   left: (((($date * 0.6) + $spacing + $line + $dot + ($dotborder * 2)) * 1.5) * -1);
    //   color: $color-year;
    //   content: attr(data-date);
    //   text-align: right;
    //   font-weight: 100;
    //   font-size: 0.9em;
    //   min-width: $date;
    //   font-family: $base-font-family;
    //   top:5px;

    //   // position:sticky;
    // }

    &:after {
      box-shadow: 0 0 0 $dotborder fade-out($color-timeline, 0);
      left: (($spacing + $line + ($dot * 0.35)) * -1);
      background: lighten($background, 5%);
      border-radius: 50%;
      height: $dot;
      width: $dot;
      content: "";
      top: 5px;
    }
  }
}