// Colors
$primary-color: #434c77;
$text-color: rgb(0, 0, 0);
$heading-color: $primary-color;
$border-color: #ddd;
$timeline-line-color: #ccc;

// Typography
$base-font-family: "Roboto", "Arial";
$heading-font-family: "Roboto Serif", Sans-serif;
$base-font-size: 16px;
$large-font-size: 22px;
$heading-font-size: 2.25em;

// Spacing
$timeline-spacing: 20px;
$timeline-item-spacing: 30px;

// Shadows
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

// Breakpoints
$mobile-breakpoint: 499px;
$tablet-breakpoint: 500px;

$color-timeline: $primary-color;
$color-year: $primary-color;