{{ $simpleLightboxJs := resources.Get "libs/simple-lightbox/simple-lightbox.min.js" }}
{{ $image := resources.Get "images/sachsen_signet_schwarz.png" }}
{{ $image := $image.Process "resize 30x" }}
{{ with site.Params.footer }}
  <footer class="Footer">
    <div class="u-wrapper">
      <div class="u-padding u-noboosting row vertical-center">
        <div class="col-3 align-right mr-2">
          Diese Maßnahme wird mitfinanziert aus Steuermitteln auf der Grundlage<br/>
          des vom Sächsischen Landtag beschlossenen Haushaltes.
        </div>
        <div class="col align-left grow-none" style="width:60px;">
          <img src="{{ $image.RelPermalink }}" class="footer_image" width="{{ $image.Width }}" height="{{ $image.Height }}">
        </div>
      </div>
      </div>
    </div>
  </footer>
{{ end }}
<script src="{{ $simpleLightboxJs.RelPermalink }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const lightboxElements = document.querySelectorAll('a.lightbox');
    lightboxElements.forEach(function(element) {
      new SimpleLightbox(element, {
        captionPosition: 'bottom',
        navText: ['←','→'],
        closeText: '×',
        loadingCaption: 'Laden...'
      });
    });
    
    const lightboxElementsSplide = document.querySelectorAll(".splide");
    lightboxElementsSplide.forEach(function(element) {
      var id = element.id;

      new SimpleLightbox('#' + id + ' ul.splide__list li.splide__image', {
        captionPosition: 'bottom',
        sourceAttr: "data-fullurl",
        navText: ['←','→'],
        closeText: '×',
        loadingCaption: 'Laden...'
      });
    });
  });
</script>
